html body {
  background-color:  #dae0e6;
  /* text-align: center; */
}

@media (min-width: 992px) {
  .navbar {
    background-color: white;
  }

  .card {
    position: relative;
    width: 50%;
    margin: auto;
    margin-bottom: 2em;
    border-radius: 0.75em;
  }

  .upvotes-column {
    margin: 0.1em;
    position: absolute;
    background-color: #f8f9fa;
    float: left;
    width: 6.5%;
    top: 0;
    bottom: 0;
    border-radius: 0.5em;
    text-align: center;
  }

  .upvotes-buttons {
    margin-top: 1em;
  }

  .upvotes-column button {
    border: none;
    font-size: 2em;
    background-color: transparent;
  }

  .upvotes {
    font-size: 1.5em;
    font-weight: 600;
  }

  .card-body {
    float: right;
    margin-left: 3.5em;
    text-align: left;
    height: auto;
  }

  .card-header {
    font-size: 1.15em;
    background-color: transparent;
    border: none;
    margin-top: -1em;
  }

  .card-footer {
    background-color: transparent;
    border: none;
    margin-bottom: -1em;
  }

  .card-title {
    font-size: 2em;
    font-weight: 600;
    margin-left: 0.5em;
  }

  .card-text {
    font-size: 1.5em;
    margin-left: 0.5em;
    max-height: 10em;
    overflow: hidden; 
    text-overflow: ellipsis;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 75%, rgba(0,0,0,0));

  }
}

.home {
  width: 100%;
  padding: 50px;
  background-color: white;
}

.home img {
  height: 300px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto 
}

/* button:disabled,
button[disabled]{
border: 1px solid #999999;
background-color: #922B21;
color: #666666;
}

.card-body {
  text-align: center;
} */