html body {
  background-color:  #dae0e6;
}

/* .card-text a {
  text-decoration: none;
  color: black;
} */

.navbar {
  background-color: white;
}

@media (min-width: 992px) {
  .container-fluid {
    width: 50%;
  }

  .card {
    /* position: relative; */
    width: 50%;
    margin: auto;
    border: 1px solid #cdcece;
  }

  .card:hover {
    border: 1px solid slategray;
  }

  /* button[aria-pressed="true"] {
    color: tomato;
    background-color: #e2e2e4;
    border-radius: 0.25em;
} */
}

.comment-form {
  padding: 1em;
}

.comment-submit {
  float: right;
}

.comment {
  padding: 0.5em;
}

.comment button {
  border: none;
  font-size: 2em;
  background-color: transparent;
  color: #878a8c;
}

.comment button[aria-pressed="true"] {
  color: tomato;
  /* background-color: #e2e2e4; */
  border-radius: 0.25em;
}

/* FINALIZED BELOW */
.container-fluid {
  border: 0.05em solid #cdcece;
}

.sort-btn {
  margin: 0.25em;
  border: none;
  font-weight: bold;
  color: lightslategray;
}

.sort-btn:hover {
  background-color: whitesmoke;
  color: lightslategray;
  transition: 0.25s;
}

#new-post-input {
  background-color: whitesmoke;
}

#new-post-input:hover {
  border: 1px solid #0079d3;
  background: white;
  transition: 0.25s;
}

.card-header {
  background-color: transparent;
  border: none;
  margin-top: -1em;
  font-size: 0.75em;
}

.card-footer {
  background-color: transparent;
  border: none;
  margin-bottom: -1em;
  font-size: 0.75em;
  font-weight: 500;
  font-color: gray;
}

.vote-buttons {
  background-color: #f8f9fa;
}

.vote-buttons button {
  border: none;
  background-color: transparent;
  color: #878a8c;
  font-size: 1.3em;
  margin-left: -0.17em;
}