html body {
  background-color:  #dae0e6;
}

/* .card-text a {
  text-decoration: none;
  color: black;
} */

.navbar {
  background-color: white;
}

@media (min-width: 992px) {
  .container-fluid {
    width: 50%;
  }

  .card {
    /* position: relative; */
    width: 50%;
    margin: auto;
    border: 1px solid #cdcece;
  }

  .card:hover {
    border: 1px solid slategray;
  }

  /* .upvotes-column {
    margin: 0.1em;
    position: absolute;
    background-color: #f8f9fa;
    float: left;
    width: 6.5%;
    top: 0;
    bottom: 0;
    border-radius: 0.5em;
    text-align: center;
  }

  .upvotes-buttons {
    margin-top: 1em;
  }

  .upvotes-column button {
    border: none;
    font-size: 2em;
    background-color: transparent;
    color: #878a8c;
  }

  .upvotes {
    font-size: 1.5em;
    font-weight: 600;
  }

  button[aria-pressed="true"] {
    color: tomato;
    background-color: #e2e2e4;
    border-radius: 0.25em;
} */

  /* .card-body {
    float: right;
    margin-left: 3.5em;
    text-align: left;
    height: auto;
  }

  .card-title {
    font-size: 2em;
    font-weight: 600;
    margin-left: 0.5em;
  }

  .card-text {
    font-size: 1.5em;
    margin-left: 0.5em;
    max-height: 10em;
    overflow: hidden; 
    text-overflow: ellipsis;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 75%, rgba(0,0,0,0));

  } */
}

.comment-form {
  padding: 1em;
}

.comment-submit {
  float: right;
}

.comment {
  padding: 0.5em;
}

.comment button {
  border: none;
  font-size: 2em;
  background-color: transparent;
  color: #878a8c;
}

.comment button[aria-pressed="true"] {
  color: tomato;
  /* background-color: #e2e2e4; */
  border-radius: 0.25em;
}

/* FINALIZED BELOW */
.container-fluid {
  border: 0.05em solid #cdcece;
}

.sort-btn {
  margin: 0.25em;
  border: none;
  font-weight: bold;
  color: lightslategray;
}

.sort-btn:hover {
  background-color: whitesmoke;
  color: lightslategray;
  transition: 0.25s;
}

#new-post-input {
  background-color: whitesmoke;
}

#new-post-input:hover {
  border: 1px solid #0079d3;
  background: white;
  transition: 0.25s;
}

.card-header {
  background-color: transparent;
  border: none;
  margin-top: -1em;
  font-size: 0.75em;
}

.card-footer {
  background-color: transparent;
  border: none;
  margin-bottom: -1em;
  font-size: 0.75em;
  font-weight: 500;
  font-color: gray;
}